<div class="col-md-12 ">
  <h6 class="mt-2 text-muted"></h6>
  <div class="card ">
    <div class="card-body">
    <h5 class="card-title list-group-item list-group-item-action active">{descriCard}</h5>
    <div class='row justify-content-between'>
        
       
      <p class="card-text">
       
      </p>
       <div class="col-md-6 ">
      <ul class="list-group list-group-flush">
         
         
      <li class="list-group-item d-flex ">
        <div class="avatar flex-shrink-0 me-3">
          <span class="avatar-initial rounded bg-label-info"><i class="fas fa-thermometer-half"></i></span>
        </div>
        <div class="me-2">
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Temperatura:</h6>
            </div>
            <div class="user-progress">
              <small class="fw-semibold"><strong> {Temperatura} </strong> °C</small>
            </div>
          </div>
   
        </div>
       </strong>
      </li>
      <li class="list-group-item  d-flex">
        <div class="avatar flex-shrink-0 me-3">
          <span class="avatar-initial rounded bg-label-info"><i class="fas fa-tint"></i></span>
        </div>
        <div class="me-2">
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Humedad: </h6>
            </div>
            <div class="user-progress">
              <small class="fw-semibold"><strong> {Humedad} </strong> %</small>
            </div>
          </div>
   
        </div>
       </strong>
      </li>
      <li class="list-group-item d-flex">
        <div class="avatar flex-shrink-0 me-3">
          <span class="avatar-initial rounded bg-label-info"><i class="fas fa-cloud-rain"></i></span>
        </div>
        <div class="me-2">
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Precipitación: </h6>
            </div>
            <div class="user-progress">
              <small class="fw-semibold"><strong>{Precipitacion}  </strong>mm </small>
            </div>
          </div>
   
        </div>
       </strong>
      </li>
      </div>  
      </ul>  
        <div class="col-md-6 ">
             <ul class="list-group list-group-flush">
      <li class="list-group-item d-flex">
        <div class="avatar flex-shrink-0 me-3">
          <span class="avatar-initial rounded bg-label-info"><i class="	fas fa-location-arrow"></i></span>
        </div>
        <div class="me-2">
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Dirección del viento:</h6>
            </div>
            <div class="user-progress">
              <small class="fw-semibold"><strong> {DireccionViento} </strong> </small>
            </div>
          </div>
   
        </div>
       </strong>
      </li>
      <li class="list-group-item d-flex">
        <div class="avatar flex-shrink-0 me-3">
          <span class="avatar-initial rounded bg-label-info"><i class="fas fa-wind"></i></span>
        </div>
        <div class="me-2">
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Velocidad del viento: </h6>
            </div>
            <div class="user-progress">
              <small class="fw-semibold"><strong> {VelocidadViento}</strong>  Km/h</small>
            </div>
          </div>
   
        </div>
       </strong>
      </li>
      <li class="list-group-item d-flex">
        <div class="avatar flex-shrink-0 me-3">
          <span class="avatar-initial rounded bg-label-info"><i class="far fa-calendar-alt"></i></span>
        </div>
        <div class="me-2">
          <div class="d-flex w-100 flex-wrap align-items-center justify-content-between gap-2">
            <div class="me-2">
              <h6 class="mb-0">Fecha y Hora: </h6>
            </div>
            <div class="user-progress">
              <small class="fw-semibold"><strong> {Fecha}</strong>  </small>
            </div>
          </div>
   
        </div>
       </strong>
      </li>
      </div> 
    </ul>
    </div>
  </div>
</div>

         
        
    </div>