
<div class="card mb-12">
  <h5 class="card-header">{descriEstacion}</h5>
  <hr class="m-0">
  <div class="card-body">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">
        <div class=" col-md-6 mb-3 row">
          <label for="html5-date-input" class="col-md-2 col-form-label">Fecha</label>
          <div class="col-md-6">
            <input class="form-control" type="date" value="{fechaActual}" id="html5-date-input">
          </div>
        </div>
      </div><hr class="m-0"><br>
     
      {todas_card_info}

      {tablaInfoCompleta}
    </div>
  </div>
</div>

