<div class="col-md-12">
  <h4 class="fw-bold py-3 mb-4 "><!--<span class="text-muted fw-light">Tables /</span> -->  Historial </h4>
  <div class="card">
    <h5 class="card-header ">Lecturas recibidas</h5>
    <div class="table-responsive text-nowrap table-bordered">
      <table class="table">
        <thead class="table-info">
          <tr>
            <th>Temperatura</th>
            <th>Humedad</th>
            <th>Precipitación</th>
            <th>Dirección del viento</th>
            <th>Velocidad del viento</th>
            <th>Fecha y Hora</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {todasLecturas}
        </tbody>
      </table>
    </div>
  </div>

</div>