<h4 class="fw-bold py-3 mb-4 "><!--<span class="text-muted fw-light">Tables /</span> --> Estaciones Metereológicas</h4>
<div class="card">
  <h5 class="card-header">Estaciones</h5>
  <div class="table-responsive text-nowrap table-bordered">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th>Estación</th>
          <th>Dirección</th>
          <th>Localidad</th>
          <th>Estado</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
          {todas_estaciones}
       
     
        
      </tbody>
    </table>
  </div>
</div>