<tr><td><i class="	fas fa-broadcast-tower text-info me-3"></i> <strong>{descri_estacion}</strong></td>
    <td>{direccion_estacion}</td>
    <td>{localidad_estacion}</td>
    <td><span class="badge bg-label-{tipo_estado} me-1">{estado_estacion}</span></td>
    <td  >
          <button id="{id_estacion}" onclick="getInfoEstacion({id_estacion})" class="btn btn-primary" href="javascript:void(0);"><i class="bx bx-search me-1"></i>Más Información</button>
          <button id="{id_estacion}" onclick="getInfoEstacion({id_estacion})" class="btn btn-primary" href="javascript:void(0);"><i class="bx bx-refresh me-1"></i>Refrestar Estado</button>
    </td>
</tr>